html,
body {
	margin: 0;
	padding: 0;
}
body {
	padding: 15px;
	background-color: #EEF0F2;
}
.layui-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.layui-form {
	padding: 20px 35px 0 0;
}